@model WebApplication1.Models.PROVEEDOR
@{Layout = null;}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=" https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
</head>
<body>
    <style>
        html {
            zoom: 90%
        }
    </style>
    <h2 align="center">Generar Orden De Compra</h2>
    <p align="center">&nbsp;</p>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Datos Del Servicio</div>
            <div class="panel-body">
                <table width="1137" height="129">
                    <tr>
                        <td width="76" height="48"><label>Razon Social:</label></td>
                        <td width="422"><input type="text" style="width:400px "></td>
                        <td></td>
                        <td width="235">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" style="margin:auto">
                                Agregar Material
                            </button>
                        </td>
                    </tr>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">¿Estas Seguro de Registrar al Servicio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            <h4>E_CLIENTE</h4>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RUC, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.RUC, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RUC, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Buscar" class="btn btn-default" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RAZON_SOCIAL, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DisplayFor(model => model.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RAZON_SOCIAL, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TELEFONO, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DisplayFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.TELEFONO, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DisplayFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
                </tr>
                <tr>
                    <td width="76" height="41"> <label>Direccion :</label></td>
                    <td> <input type="text" style="width:300px "></td>
                    <td width="51"><label>Ruc :</label></td>
                    <td><input type="text"></td>
                    <td width="94"><label>Telefono :</label></td>
                    <td width="293"><input type="text"></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Datos Del Material</div>
            <div class="panel-body">
                <table width="1032" height="139">
                    <tr>
                        <td width="114"><label>Descripcion</label> </td>
                        <td width="403"><input type="text"></td>
                        <td width="134"> <input type="submit" value="Buscar Material" class="btn btn-default"></td>
                    </tr>
                    <tr>
                        <td height="43"><label>Precio Unitario : </label></td>
                        <td><input type="text"></td>
                        <td><label>Fecha Solicitada:</label></td>
                        <td><input type="date"></td>
                    </tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <table width="1353" height="47">
        <tr>
            <td width="181"></td>
            <td width="987"><label>Cantidad</label>&nbsp;&nbsp;<input type="number" style="width: 60px"></td>
            <td width="169">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin:auto">
                    Agregar Material
                </button>
            </td>
        </tr>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">¿Estas Seguro de Registrar al Servicio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Si</button>
                        <button type="button" class="btn btn-primary">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:  60px  200px">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Codigo Material</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th> SubTotal</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin:60px 800px">
        <table width="300px">
            <tr>
                <td><label>Precio Total :</label></td>
                <td><input type="text"></td>
            </tr>
        </table>
    </div>
    <div style="margin: 80px 390px ">
        <table width="413">
            <tr>
                <td><input type="submit" value="Generar Orden de Compra" class="btn btn-danger"></td>
                <td><input type="submit" value="Imprimir" class="btn btn-danger"></td>
            </tr>
        </table>
    </div>
    <div style="margin:-30px 60px">
        <input type="submit" value="Salir">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/js/MostrarTabla.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
</body>
</html>