@model WebApplication1.Models.ORDEN_ATENCION
@{Layout = null;}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Demo styling -->
    <link href="~/Content/css/jq.css" rel="stylesheet">
    <link href="~/Content/css/theme.default.css" rel="stylesheet" />
    <!-- jQuery: required (tablesorter works with jQuery 1.2.3+) -->

</head>
<body>
    <style>

        html {
            zoom: 90%
        }
    </style>
    <script>
        $(document).ready(function () {
        $('#send-data').click(function () {
            var rows = [];
            $('#student-table tbody tr').each(function () {
                var codigo = $(this).find('td').eq(0).text().trim();
                var descripcion = $(this).find('td').eq(1).text().trim();
                var cantidad = $(this).find('td').eq(2).text().trim();
                var precioUnitario = $(this).find('td').eq(3).text().trim();
                var subTotal = $(this).find('td').eq(4).text().trim();
                var row = codigo + "-" + descripcion + "-" + cantidad + "-" + precioUnitario + "-" + subTotal;
                rows.push(row);
            });
            $.post('@Url.Action("Registar", "GenerarOrdenCompra")', { rows: rows }, function (data) {
                alert(rows);
            });
        });
    });
        // Add products to <table>
        function productsAdd() {
            var codigo = document.getElementById("Codigo").value;
            var descripcion = document.getElementById("Des").value;
            var cantidad = document.getElementById("Cantidad").value;
            var preU = parseFloat(document.getElementById("PreU").value).toFixed(2);
            var subT = (cantidad * preU).toFixed(1);
            // First check if a <tbody> tag exists, add one if not
            if ($("#productTable tbody").length == 0) {
                $("#productTable").append("<tbody></tbody>");
            }

            // Append product to the table
            $("#productTable tbody").append(
                "<tr>" +
                "<td>" + codigo + "</td>" +
                "<td>" + descripcion + "</td>" +
                "<td>" + cantidad + "</td>" +
                "<td>" + preU + "</td>" +
                "<td>" + subT + "</td>" +
                "<td>" + "<button type='button' " + "onclick='productDelete(this)' " + "class='btn btn-default'>" + "Delete" + "</button>" +
                "</td>" +
                "</tr>"
            );
        }
        function productDelete(ctl) {
            $(ctl).parents("tr").remove();
        }
    </script>
    <h2 align="center">Generar Orden De Compra</h2>
    <p align="center">&nbsp;</p>

    @if (@TempData["Message"] != null)
    {

        <script>$('.alert').alert()</script>
        <div class="col-md-11" style="text-align:center; float:center">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <h4>
                    <i class="icon fa fa-check"></i> Error
                </h4>
                @TempData["Message"]
            </div>
        </div>


    }
    <div class="container">
        <div class="panel panel-default">
            @using (Html.BeginForm())
            {
               <div class="panel-heading">Datos Del Material</div>
                <div class="panel-body">
                    <table width="1137" height="129">
                        <tr>
                            <td width="76" height="48"><label>Razon Social:</label></td>
                            <td width="422">@Html.TextBox("txtDireccion", TempData["RazonSocial"], new { disabled = "true" })</td>
                            <td></td>
                            <td width="235">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" style="margin:auto">
                                    Buscar Proveedor
                                </button>
                            </td>
                        </tr>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Buscar Proveedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align: center">
                                        <div class="form-horizontal">
                                            <h4>Proveedor</h4>
                                            <hr />
                                            <div class="form-group">
                                                RUC:
                                                <div class="col-md-10">
                                                    @Html.TextBox("txtProveedor", ViewData["Ruc"])
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Buscar" id="SearchBtn" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <tr>
                            <td width="76" height="41"> <label>Direccion :</label></td>
                            <td> @Html.TextBox("txtDireccion", TempData["Direccion"], new { disabled = "true" })</td>
                            <td width="51"><label>Ruc :</label></td>
                            <td>@Html.TextBox("txtRuc", TempData["Ruc"], new { disabled = "true" })</td>
                            <td width="94"><label>Telefono :</label></td>
                            <td>@Html.TextBox("txtTelefono", TempData["Telefono"], new { disabled = "true" })</td>
                        </tr>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Datos Del Material</div>
            <div class="panel-body">
                <table width="1032" height="139">
                    <tr>
                        <td width="114"><label>Descripcion</label> </td>
                        <td width="403">@Html.TextBox("txtDes", ViewData["Descripcion"], new { id = "Des", disabled = "true" })</td>
                        <td width="134">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" style="margin:auto">
                                Buscar Material
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td height="43"><label>Precio Unitario: </label></td>
                        <td>@Html.TextBox("txtPreU", ViewData["PreU"], new { id = "PreU", disabled = "true" })</td>
                      <td width="987"><label>Cantidad</label>&nbsp;&nbsp;@Html.TextBox("txtCantidad", null, new { id = "Cantidad"  ,@type="number"})</td>
                    </tr>
                    <tr></tr>
                </table>
                @Html.TextBox("txtCodigo", ViewData["Codigo"], new { id = "Codigo", hidden = "true" })
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <table width="1353" height="47">
        <tr>
            <td width="181"></td>
            <td><label>Fecha Solicitada:</label> 
          <input type="date"></td>
            <td width="169">
                <button type="button" onclick="productsAdd()">
                    Agregar Material
                </button>
            </td>
        </tr>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Buscar Material</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        @using (Html.BeginForm())
                        {
                            @Html.Label("Codigo:")
                                 @Html.TextBox("txtMaterial")
                            <button type="submit">Buscar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default" align="center">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table id="productTable" width="300" align="center" class="table">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Sub Total</th>  
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div style="margin:60px 800px">
        <table width="300px">
            <tr>
                <td><label>Precio Total :</label></td>
                <td>@Html.TextBox("txtPrecio")</td>
            </tr>
        </table>
    </div>
    <div style="margin: 80px 390px ">
        <table width="413">
            <tr>
                <td><input type="submit" value="Generar Orden de Compra" class="btn btn-danger"></td>
                <td><input type="submit" value="Imprimir" class="btn btn-danger"></td>
            </tr>
        </table>
    </div>
    <div style="margin:-30px 60px">
        <input type="submit" value="Salir">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/js/MostrarTabla.js"></script>
    <script src="~/Content/js/jquery-1.2.6.min.js"></script>
    <script src="~/Content/js/jquery.tablesorter.min.js"></script>
    <script src="~/Content/js/jquery.tablesorter.widgets.min.js"></script>
    <script>
        $(function () {
            $('table').tablesorter({
                widgets: ['zebra', 'columns'],
                usNumberFormat: false,
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
</body>
</html>